/**=====================
  5.3 Header CSS Start
==========================**/
@use "../utils/variables";
@use "../layout/sidebar";
.form-group {
  width: unset !important;
  .Typeahead {
    width: unset !important;
    .u-posRelative {
      input {
        background-color: variables.$lighter-gray;
        color: #949494 !important;
        font-weight: 400;
        letter-spacing: 0.4px;
        line-height: 1.4;
        padding: 11px 25px 11px 48px;
        width: calc(350px + (583 - 350) * ((100vw - 1200px) / (1920 - 1200))) !important;
        position: relative;
      }
      svg {
        stroke: #1f2f3e;
        cursor: pointer;
        height: 23px;
        position: absolute;
        top: 25%;
        width: 23px;
        left: 12px;
      }
    }
  }
}

/*======= Page Header css ends  ======= */

/**======Main Header css Start ======**/
.offcanvas,
.offcanvas-bookmark {
  .page-wrapper {
    .page-body-wrapper {
      .page-body {
        position: relative;
        // filter: blur(5px) grayscale(100%);
      }
    }
  }
}

.offcanvas {
  position: unset;
  visibility: visible;
  background: unset;
  z-index: 2;
}

.toggle-sidebar {
  position: absolute;
  right: 18px;
  top: 21px;
  cursor: pointer !important;
  background-color: rgba(36, 42, 54, 0.1);
  border-radius: 5px;
  padding: 5px 7px;

  svg {
    width: 20px;
    height: 20px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
  }

  &:hover {
    > svg {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
}

.onhover-dropdown {
  cursor: pointer;
  position: relative;

  &:hover {
    .onhover-show-div {
      @extend %for-animated-hover-box;
    }
  }
}

.onhover-show-div {
  top: 80px;
  position: absolute;
  z-index: 8;
  background-color: variables.$white;
  transition: all linear 0.3s;
  @extend %for-animated-hover;

  li {
    a {
      svg {
        margin-top: 0 !important;

        path,
        line {
          color: variables.$theme-body-font-color !important;
        }
      }
    }
  }
}

/**======Main Header css Ends ======**/
/**=====================
    5.3 Header CSS Ends
==========================**/
